ul {
    list-style-image: url(/images/bullet.png);
}

body {
    background-color: whitesmoke;
}

header {
    background-color: white;
    box-shadow: 0px 2px 5px rgb(214, 214, 214);
    min-height: 80px;
    margin-bottom: 20px;
}

.container_regles {
    background-color: whitesmoke;
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.déroulant {
    display: block;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    font-weight: bold;
    padding: 20px;
    box-shadow: 4px 10px 10px -2px rgba(205, 202, 202, 0.71);
}

button {
    background-color: crimson;
    color: white;
    margin-left: 20rem;
}

.CPE {
    font-size: small;
    font-weight: bold;
}

#container_header {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

p {
    margin-right: 40%;
}

#random_apprenant {
    display: block;
    margin : auto;
    margin-bottom: 20px;
}